# Port d'écoute du serveur
PORT=5000

# Chaîne de connexion MongoDB (conteneur Docker)
MONGO_URI=mongodb://portfolio-mongo:27017/portfolio

# Environnement
NODE_ENV=development

# CORS Origin (URL du frontend)
CORS_ORIGIN=http://localhost:5173
